section(class="product")
    div(class="product__bg")
        div(class="product__bg-header")
            div(class="product__bg-wrap")
                div(class="product__bg-text") 76,1
                div(class="product__text-transform") инжир
            div(class="product__bg-wrap")
                div(class="product__text-transform") более
                div(class="product__bg-text") 4 070
                div(class="product__text-transform") топоры
            div(class="product__bg-wrap")
                div(class="product__text-transform") викинг
                div(class="product__bg-text") 5 400
                div(class="product__text-transform") лиц
        span(class="product__icon" style="top:50%; right:70%")
            svg(width="23" height="23" viewBox="0 0 23 23") 
                use(xlink:href="./imgs/sprites.svg#books")
        span(class="product__icon" style="top:60%; right:60%")
            svg(width="28" height="25" viewBox="0 0 28 25") 
                use(xlink:href="./imgs/sprites.svg#horse")
        span(class="product__icon" style="top:25%; right:45%")
            svg(width="28" height="25" viewBox="0 0 28 25") 
                use(xlink:href="./imgs/sprites.svg#horse")
        span(class="product__icon" style="top:30%; right:40%")
            svg(width="28" height="25" viewBox="0 0 28 25") 
                use(xlink:href="./imgs/sprites.svg#horse")
        span(class="product__icon" style="top:15%; right:35%")
            svg(width="25" height="25" viewBox="0 0 25 25") 
                use(xlink:href="./imgs/sprites.svg#parking")
        span(class="product__icon" style="top:20%; right:18%")
            svg(width="25" height="25" viewBox="0 0 25 25") 
                use(xlink:href="./imgs/sprites.svg#parking")
        span(class="product__icon" style="top:40%; right:15%")
            svg(width="28" height="25" viewBox="0 0 28 25") 
                use(xlink:href="./imgs/sprites.svg#horse")
        div(class="product__arrow-left")
            svg(width="22" height="22" viewBox="0 0 22 22" style="z-index: 1;") 
                use(xlink:href="./imgs/sprites.svg#train")
            span(class="product__arrow-text") туда 17 км
        div(class="product__arrow-right")
            svg(width="22" height="22" viewBox="0 0 22 22") 
                use(xlink:href="./imgs/sprites.svg#plane")
            span(class="product__arrow-text") сюда 44 км
    ul(class="product__list")
        li(class="product__item")
            svg(width="44" height="44" viewBox="0 0 44 44") 
                use(xlink:href="./imgs/sprites.svg#stage")
            div(class="product__item-wrap") Этапы
                div(class="product__item-text") от <span class="product__item-bold">9</span>  до <span class="product__item-bold">11</span> 
        li(class="product__item")
            svg(width="28" height="25" viewBox="0 0 28 25") 
                use(xlink:href="./imgs/sprites.svg#horse")
            div(class="product__item-wrap") 4 мужских тапка
                div(class="product__item-text") на <span class="product__item-bold">646</span>  людей
        li(class="product__item")
            svg(width="28" height="25" viewBox="0 0 28 25") 
                use(xlink:href="./imgs/sprites.svg#books")
            div(class="product__item-wrap") Книги
                div(class="product__item-text") на <span class="product__item-bold">1 100</span>  гбайт
    button(class="btn btn_blue") Подробнее о продукте

