section(class="analysis")
    div(class="container")
        div(class="container__heading")
            h1(class="container__heading-front") Анализ
            h1(class="container__heading-bg") Анализ
        ul(class="analysis__list")
            li(class="analysis__item")
                div(class="analysis__link")
                span(class="analysis__percent") 6.5%
                div(class="analysis__attr")
                    div(class="analysis__attr-wrap")
                        span(class="analysis__attr-heading") Депо автобус
                        span(class="analysis__attr-value") 2-25 раз
                    div(class="analysis__attr-wrap")
                        span(class="analysis__attr-heading") Первый шорт
                        span(class="analysis__attr-value") 30%
            li(class="analysis__item")
                div(class="analysis__link")
                span(class="analysis__percent") 7.5%
                div(class="analysis__attr")
                    div(class="analysis__attr-wrap")
                        span(class="analysis__attr-heading") Депо автобус
                        span(class="analysis__attr-value") 2-25 раз
                    div(class="analysis__attr-wrap")
                        span(class="analysis__attr-heading") Первый шорт
                        span(class="analysis__attr-value") 30%
            li(class="analysis__item")
                div(class="analysis__link")
                span(class="analysis__percent") 6.5%
                div(class="analysis__attr")
                    div(class="analysis__attr-wrap")
                        span(class="analysis__attr-heading") Депо автобус
                        span(class="analysis__attr-value") 2-25 раз
                    div(class="analysis__attr-wrap")
                        span(class="analysis__attr-heading") Первый шорт
                        span(class="analysis__attr-value") 30%