section(class="how-buy")
    div(class="container__heading")
        h1(class="container__heading-front") Как купить ?
        h1(class="container__heading-bg") Как купить ?
    div(class="how-buy__wrap")
        ul(class="how-buy__list")
            li(class="how-buy__item" data-type="howbuy-easy")
                svg(class="how-buy__item-easy" width="64" height="66" viewBox="0 0 64 66")
                    use(xlink:href="./imgs/sprites.svg#howbuy-easy")
                span(class="how-buy__item-text") Очень просто
            li(class="how-buy__item" data-type="howbuy-pay")
                svg(class="how-buy__item-img" width="60" height="60" viewBox="0 0 60 60")
                    use(xlink:href="./imgs/sprites.svg#howbuy-pay")
                span(class="how-buy__item-text") 100% оплата
            li(class="how-buy__item" data-type="howbuy-analysis")
                svg(class="how-buy__item-img" width="72" height="69" viewBox="0 0 72 69" )
                    use(xlink:href="./imgs/sprites.svg#howbuy-analysis")
                span(class="how-buy__item-text") Анализ
            li(class="how-buy__item active" data-type="howbuy-installment")
                svg(class="how-buy__item-img" width="68" height="68" viewBox="0 0 68 68")
                    use(xlink:href="./imgs/sprites.svg#howbuy-installment")
                span(class="how-buy__item-text") Рассрочка от гаранта
        div(class="how-buy__content")
            div(class="how-buy__img")
                img(src="./imgs/how-buy.jpg" style="width: 100%;")
            div(class="how-buy__content-wrap")
                h3(class="how-buy__item-heading") Рассрочка от гаранта
                div(class="how-buy__item-content") Таким образом, социально-экономическое развитие способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач? С другой стороны рамки и место обучения кадров требует от нас системного анализа системы.
                ul(class="how-buy__sublist")
                    li(class="how-buy__subitem active") Выбор продукта
                    li(class="how-buy__subitem") Согласование графика платежей с вашим менеджером
                    li(class="how-buy__subitem") Подготовка необходимых документов для заключения договоров ПЗУ
                    li(class="how-buy__subitem") Подписание договора ПЗУ
                    li(class="how-buy__subitem") Регистрация договора ПЗУ
                    li(class="how-buy__subitem") Открытие марлоу-счета в банке и перечисление первого взноса
                    li(class="how-buy__subitem active") Дальнейшие перечисление согласно графика платежей в договоре.
                div(class="how-buy__btn")
                    button(class="btn-callback btn btn_blue") Получить консультацию

