script(type="template" class="how-buy__template" data-type="howbuy-installment")
    div(class="how-buy__img")
        img(src="./imgs/how-buy.jpg" style="width: 100%;")
    div(class="how-buy__content-wrap")
        h3(class="how-buy__item-heading") Рассрочка от гаранта
        div(class="how-buy__item-content") Таким образом, социально-экономическое развитие способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач? С другой стороны рамки и место обучения кадров требует от нас системного анализа системы.
        ul(class="how-buy__sublist")
            li(class="how-buy__subitem active") Выбор продукта
            li(class="how-buy__subitem") Согласование графика платежей с вашим менеджером
            li(class="how-buy__subitem") Подготовка необходимых документов для заключения договоров ПЗУ
            li(class="how-buy__subitem") Подписание договора ПЗУ
            li(class="how-buy__subitem") Регистрация договора ПЗУ
            li(class="how-buy__subitem") Открытие марлоу-счета в банке и перечисление первого взноса
            li(class="how-buy__subitem active") Дальнейшие перечисление согласно графика платежей в договоре.
        div(class="how-buy__btn")
            button(class="btn-callback btn btn_blue") Получить консультацию
script(type="template" class="how-buy__template" data-type="howbuy-easy")
    div(class="how-buy__img")
        img(src="./imgs/how-buy.jpg" style="width: 100%;")
    div(class="how-buy__content-wrap")
        h3(class="how-buy__item-heading") Рассрочка от гаранта
        div(class="how-buy__item-content") Таким образом, социально-экономическое развитие способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач? С другой стороны рамки и место обучения кадров требует от нас системного анализа системы.
        ul(class="how-buy__sublist")
            li(class="how-buy__subitem active") Выбор продукта
            li(class="how-buy__subitem") Согласование графика платежей с вашим менеджером
            li(class="how-buy__subitem") Подготовка необходимых документов для заключения договоров ПЗУ
            li(class="how-buy__subitem") Подписание договора ПЗУ
            li(class="how-buy__subitem") Регистрация договора ПЗУ
            li(class="how-buy__subitem") Открытие марлоу-счета в банке и перечисление первого взноса
            li(class="how-buy__subitem active") Дальнейшие перечисление согласно графика платежей в договоре.
        div(class="how-buy__btn")
            button(class="btn-callback btn btn_blue") Получить консультацию
script(type="template" class="how-buy__template" data-type="howbuy-pay")
    div(class="how-buy__img")
        img(src="./imgs/how-buy.jpg" style="width: 100%;")
    div(class="how-buy__content-wrap")
        h3(class="how-buy__item-heading") Рассрочка от гаранта
        div(class="how-buy__item-content") Таким образом, социально-экономическое развитие способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач? С другой стороны рамки и место обучения кадров требует от нас системного анализа системы.
        ul(class="how-buy__sublist")
            li(class="how-buy__subitem active") Выбор продукта
            li(class="how-buy__subitem") Согласование графика платежей с вашим менеджером
            li(class="how-buy__subitem") Подготовка необходимых документов для заключения договоров ПЗУ
            li(class="how-buy__subitem") Подписание договора ПЗУ
            li(class="how-buy__subitem") Регистрация договора ПЗУ
            li(class="how-buy__subitem") Открытие марлоу-счета в банке и перечисление первого взноса
            li(class="how-buy__subitem active") Дальнейшие перечисление согласно графика платежей в договоре.
        div(class="how-buy__btn")
            button(class="btn-callback btn btn_blue") Получить консультацию
script(type="template" class="how-buy__template" data-type="howbuy-analysis")
    div(class="how-buy__img")
        img(src="./imgs/how-buy.jpg" style="width: 100%;")
    div(class="how-buy__content-wrap")
        h3(class="how-buy__item-heading") Рассрочка от гаранта
        div(class="how-buy__item-content") Таким образом, социально-экономическое развитие способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач? С другой стороны рамки и место обучения кадров требует от нас системного анализа системы.
        ul(class="how-buy__sublist")
            li(class="how-buy__subitem active") Выбор продукта
            li(class="how-buy__subitem") Согласование графика платежей с вашим менеджером
            li(class="how-buy__subitem") Подготовка необходимых документов для заключения договоров ПЗУ
            li(class="how-buy__subitem") Подписание договора ПЗУ
            li(class="how-buy__subitem") Регистрация договора ПЗУ
            li(class="how-buy__subitem") Открытие марлоу-счета в банке и перечисление первого взноса
            li(class="how-buy__subitem active") Дальнейшие перечисление согласно графика платежей в договоре.
        div(class="how-buy__btn")
            button(class="btn-callback btn btn_blue") Получить консультацию