script(type="template" id="overlayTemplate")
    div(class="overlay__form")
        input(type="text" class="overlay__input" placeholder="Ваш номер телефона")
        input(type="text" class="overlay__input" placeholder="Ваше имя")
        button(type="submit" class="btn btn_blue") Заказать звонок
        div(class="overlay__consent") Нажимая кнопку ”Заказать звонок” вы подтверждаете свое согласие на обработку персональных данных
    div(class="overlay__close")
        svg(width="17" height="17" viewBox="0 0 17 17")
            use(xlink:href="./imgs/sprites.svg#close")