div(class="shares")
    div(class="shares__wrap")
        a(class="logo" href="./index.html")
            img(src="./imgs/logo.png")
        h1(class="shares__heading") Акции и новости “Малинина душа” узнайте первым
    form(class="shares__form")
        input(type="email" class="shares__input" placeholder="Ваш e-mail")
        button(class="shares__btn btn btn_blue" type="submit") Подписаться