.about {
  display: flex;
  flex-direction: column;
  &__heading {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    @include phones {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 0;
    }
    &--first .about__heading-bg {
      @include phones {
        display: none;
        padding: 0;
      }
    }
    &-front {
      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 4rem;
      color: #ec4e20;
      margin-left: 4rem;
      @include tablets {
        font-size: 3rem;
        margin-left: 2rem;
      }
      @include phones {
        font-size: 2rem;
        margin-left: 1rem;
      }
    }
    &-bg {
      color: rgba(45, 156, 219, 0.05);
      position: absolute;
      font-size: 6.25rem;
      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: 800;
      white-space: nowrap;
      @include tablets {
        font-size: 5.25rem;
      }
      @include phones{
        bottom: 7%;
      }
    }
    &-text {
      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 1.5rem;
      color: #4f4f4f;
      display: flex;
      max-width: 29.375rem;
      align-items: center;
      margin-left: 6.125rem;
      @include tablets {
        font-size: 1rem;
        max-width: 15.375rem;
      }
      @include phones {
        flex-direction: column;
        max-width: none;
        align-items: flex-start;
        margin-left: 1rem;
      }
      &::before {
        content: "";
        display: block;
        width: 0.375rem;
        height: 5.25rem;
        background: #2d9cdb;
        margin-right: 1.5rem;
        @include phones {
          width: 16.375rem;
          height: 0.125rem;
          margin: 0.75rem 0 1rem;
        }
      }
    }
  }
  &__slider {
    width: 100%;
    max-width: 33.375rem;
    min-height: 22rem;
    @include tablets {
      order: 1;
      max-width: none;
      margin-bottom: 2.5rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    @include tablets {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 5rem;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      @include tablets {
        order: 2;
      }
      & .about__text,
      & .about__sublist {
        margin-left: 4rem;
        @include tablets {
          margin-left: 2rem;
        }
      }
    }
    &-wrap + .about__slider {
      margin-left: 1.5rem;
      @include tablets {
        margin: 0 0 2.5rem 0;
      }
    }
  }
  &__slider + &__item-wrap {
    margin-left: 1.5rem;
    @include tablets {
      margin: 1rem 0 0 0;
    }
  }
  &__text {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #000000;
    max-width: 36.5rem;
    line-height: 161%;
    margin: 1rem 0 2rem;
    &-par {
      margin-top: 1.25rem;
    }
  }
  &__sublist {
    display: flex;
    flex-direction: column;
  }
  &__subitem {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      margin-right: 1.5rem;
      width: 0.675rem;
      height: 0.675rem;
      background: #2d9cdb;
      border-radius: 100%;
      display: block;
    }
  }
}
.features {
  margin-bottom: 4rem;
  &__sublist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0 6.5rem;
    flex-wrap: wrap;
    @include tablets {
      justify-content: center;
      margin: 3rem 0 5.5rem;
    }
    @include phones {
      margin: 2rem 0 4.5rem;
    }
  }
  &__subitem {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    @include phones {
      margin-right: 1rem;
      width: 40%;
    }
    &-horse {
      stroke: #333;
      @include phones {
        stroke: #eb5757;
      }
    }
    &-icon {
      fill: #333;
      @include phones {
        fill: #eb5757;
      }
    }
    &-heading {
      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 0.875rem;
      color: #333333;
      opacity: 0.6;
      @include phones {
        color: #eb5757;
      }
    }
    &-wrap {
      margin-left: 1rem;
      & .features__text {
        @include phones {
          color: #eb5757;
        }
      }
    }
  }
  &__text {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    color: #333333;
    &-style {
      font-family: Gilroy, sans-serif;
      font-weight: 800;
      font-size: 1.125rem;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.5rem;
    justify-content: center;
    width: 100%;
    @include tablets {
      padding: 0 0 0 2.5rem;
    }
    @include phones {
      padding: 0 0 0 1rem;
    }
  }
  &__item {
    width: 47%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    @include tablets {
      width: 100%;
    }
    @include phones {
      order: 2;
      margin-right: 0;
    }
    & .features__text {
      max-width: 27.5rem;
    }
    &-icon {
      margin-right: 2rem;
      max-width: 2rem;
      width: 100%;
    }
    &:last-child {
      margin-top: 1rem;
      padding: 0.75rem;
      border: 0.03125rem solid #898989;
      border-radius: 0.1875rem;
      @include phones {
        order: 1;
      }
    }
  }
}
.player {
  width: 100%;
  position: relative;
  padding: 0 3rem;
  cursor: pointer;
  margin-top: 3.5rem;
  @include tablets {
    padding: 0 1rem;
  }
  @include phones {
    padding: 0;
  }
  & .disable {
    display: none;
  }
  &__start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.125rem solid #ffffff;
    border-radius: 100%;
    pointer-events: none;
    &-icon {
      transform: translateX(10%);
    }
  }
}
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
  }
  &__item {
    width: 100%;
    height: 100%;
    background: url(./imgs/slider-img.jpg);
    background-size: cover;
    flex: 0 0 100%;
    box-shadow: 0.625rem 0.625rem 0.3125rem rgba(0, 0, 0, 0.25);
    border-radius: 0.1875rem;
  }
  &__breadcrumbs {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    z-index: 10;
    & .active {
      background: #ffffff;
    }
    &-item {
      width: 0.75rem;
      height: 0.75rem;
      border: 0.0625rem solid #ffffff;
      box-sizing: border-box;
      border-radius: 50%;
      margin-right: 2rem;
      cursor: pointer;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__right {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &__left {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
