html,
body {
  margin: 0rem;
}

body {
  height: 100%;
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
  @include phones {
    padding: 0;
  }
}
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.wrapper {
  min-width: 0px;
  flex-direction: column;
  background: #fff;
  display: flex;
  height: 100%;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
html {
  font-size: 16px;
}
button:active,
button:focus {
  outline: none;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
  &__heading {
    position: relative;
    font-family: "Gilroy", sans-serif;
    color: #14451f;
    font-size: 4rem;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    &-bg {
      font-size: 11.9375rem;
      color: #4285f4;
      opacity: 0.05;
      font-weight: 800;
      @include tablets {
        font-size: 8.9rem;
        white-space: nowrap;
        overflow: hidden;
      }
      @include phones{
        font-size: 6.5rem;
      }
    }
    &-front {
      position: absolute;
      left: -100%;
      font-weight: 800;
      font-size: 4rem;
      top: 41%;
      @include tablets {
        font-size: 3rem;
      }
      @include phones {
        font-size: 2.25rem;
      }
    }
  }
}
