.footer {
  @include bg(url(./imgs/footerbg.jpg));
  @include phones {
    padding: 2.625rem 2.75rem;
    background: url(./imgs/footermobilebg.png) #333333 right bottom no-repeat no-repeat;
  }
  &__container {
    margin-left: 4.25rem;
    margin: 0 auto 0 auto;
    max-width: 1152px;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    @include tablets {
      flex-wrap: wrap;
      width: 95%;
      margin: 0 auto;
    }
    @include phones {
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      padding: 0;
      margin: 0;
    }
    & .logo {
      @include phones {
        display: none;
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    @include tablets {
      width: 100%;
      margin-top: 1.5rem;
      justify-content: space-between;
    }
    @include phones {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      width: auto;
    }
  }
  &__phone,
  &__mail {
    display: flex;
    align-items: center;
    @include phones {
      margin-top: 1rem;
    }
    &-text {
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      white-space: nowrap;
      color: #ffffff;
      margin-left: 1.25rem;
    }
  }
  &__phone {
    margin-right: 3rem;
  }
  &__content {
    display: flex;
    margin: 4.8125rem 0 1.875rem;
    @include tablets {
      flex-direction: column;
      width: 95%;
      margin: 4.8125rem auto 1.875rem auto;
    }
    @include phones {
      width: 100%;
    }
    &-inner {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__heading {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.375rem;
    line-height: 115.5%;
    color: #ffffff;
    margin-bottom: 2rem;
    max-width: 32.8125rem;
    @include phones {
      font-size: 2rem;
    }
  }
  &__text {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 137%;
    color: #ffffff;
    margin-bottom: 2.675rem;
    @include phones {
      font-size: 0.875rem;
    }
  }
  &__content-phone {
    display: flex;
    align-items: center;
    margin-bottom: 3.375rem;
    @include phones {
      display: none;
    }
    & .footer__phone-text {
      font-weight: bold;
    }
  }
  &__content-buttons {
    display: flex;
    align-items: center;
    @include tablets {
      width: 95%;
      margin: 0 auto;
      justify-content: center;
      flex-wrap: wrap;
    }
    @include phones {
      width: auto;
      margin: auto;
    }
  }
  &__btn-service {
    max-width: 11.9375rem;
    text-align: center;
    font-family: "Oranienbaum", sans-serif;
    margin-left: 2rem;
    padding: 0.4375rem;
    &:last-child {
      @include tablets {
        margin-top: 2rem;
        margin-left: 0; 
      }
    }
    @include phones {
      font-family: Gilroy, sans-serif;
      font-size: 0.625rem;
      padding: 0.5rem 0.2rem;
    }
  }
  &__copyright {
    font-family: "ptsanscaption", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #ffffff;
    margin-top: 2.1875rem;
    @include tablets {
      width: 95%;
      margin: 2.1875rem auto;
    }
    @include phones {
      width: auto;
    }
  }
  &__form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3.375rem;
    justify-content: flex-start;
    @include phones {
      padding: 0;
    }
    &-input {
      width: 100%;
      margin-right: 2rem;
      padding: 0.875rem;
      background: transparent;
      border: none;
      border-bottom: 0.0625rem solid #fff;
      outline: none;
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.25rem;
      color: #ffffff;
      @include phones {
        margin: 0 0 1.25rem 0;
        width: 100%;
      }
    }
    &-submit {
      margin-top: 2.125rem;
      padding: 0.75rem 3rem;
      color: #427bda;
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      border-radius: 0.1875rem;
      background: #fff;
      margin-right: 2rem;
      @include phones {
        margin: 2rem 0 0 0;
        width: 100%;
      }
    }
  }
  &__input-wrap {
    display: flex;
    width: 100%;
    margin-bottom: 2.75rem;
    @include phones {
      flex-direction: column;
      width: 100%;
      margin: 0;
    }
  }
}
.address {
  display: flex;
  align-items: center;
  &__text {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 146%;
    color: #ffffff;
    margin-left: 1.25rem;
    &-style {
      font-weight: bold;
    }
  }
}
