.shares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem 3rem 4rem;
  @include bg(url(./imgs/sharesbg.jpg));
  &__heading {
    max-width: 14rem;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 137%;
    color: #ffffff;
  }
  &__form {
    display: flex;
    align-items: center;
  }
  &__input {
    padding: 0.75rem 1.125rem;
    background: #fff;
    border-radius: 0.1875rem;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    outline: none;
    border: none;
    margin-right: 1.875rem;
    min-width: 16rem;
  }
}
