.shares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem 3rem 4rem;
  @include bg(url(./imgs/sharesbg.jpg));
  @include tablets {
    flex-direction: column;
    padding: 2.75rem 1.5rem;
  }
  &__heading {
    max-width: 14rem;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 137%;
    color: #ffffff;
    @include tablets {
      font-size: 1rem;
      max-width: 8.875rem;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    @include tablets{
      flex-direction: column;
      width: 100%;
    }
  }
  &__btn{
    @include tablets{
      width: 100%;
      justify-content: center;
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    @include tablets {
      width: 100%;
      margin-bottom: 2.375rem;
    }
  }
  &__input {
    padding: 0.75rem 1.125rem;
    background: #fff;
    border-radius: 0.1875rem;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    outline: none;
    border: none;
    margin-right: 1.875rem;
    min-width: 16rem;
    @include tablets{
      min-width: auto;
      margin: 0 0 1.875rem 0;
      width: 100%;
    }
  }
}
